<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app-container">
      <div class="header-container">
        <h1 class="app-title">File Uploader</h1>
        <div class="header-buttons">
          <% if (!locals.user) { %>
          <a href="/sign-up" class="button">Sign Up</a>
          <a href="/log-in" class="button">Log In</a>
          <% } else { %>
          <a href="/main" class="button">My Folders and Files</a>
          <a href="/shared" class="button">My Shared folders</a>
          <a href="/log-out" class="button">Log Out</a>
          <% } %>
        </div>
      </div>
      <div class="main-container">
        <% if (locals.user) { %> 
          <h1>Hello <%= locals.user.user_name %></h1>
          <p>Please feel free to explore and add some files :]</p>
        <%} else { %>
          <h1>Welcome to file uploader</h1>
          <h4>log in to start </h4>
        <% } %>
    
  </body>
</html>
